<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>중환자 치료실에 입원 치료 받은 환자 생사여부 분류 모델</h1>
<br/>
분류 모델의 정확도: {{ accuracy }}<br/><br/>
patient 데이터 일부 보기:
<table border="1">
  <thead>
    <tr>
      <!-- 열 이름 출력 -->
      {% for column in dataframe.columns %}
        <th>{{ column }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for index, row in dataframe.iterrows %}
        <tr>
          {% for value in row %}
            <td>{{ value }}</td>
          {% endfor %}
        </tr>
    {% endfor %}
  </tbody>
</table>
<a href="patient/show">입원 환자 데이터를 입력해 생사 여부 확인하기</a>
</body>
</html>
