<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>{{question.question_text}}</h2>
<b style="color: red">  <!-- 투표 항목을 선택하지 않은 경우 에러 메시지 출력 -->
    {% if err_msg %}
        {{err_msg}}
    {% endif %}
</b>
<!-- 운동 항목 선택 -->
<!--<form action="/go/5/vote"> 원래 하던 방식 -->
<form action="{% url 'vote' question.id %}" method="post">{% csrf_token %}
    {% for cho in question.choice_set.all %}    {# choice object를 반환 #}
        <input type="radio" name="choice" id="cho{{forloop.counter}}" value="{{cho.id}}">
        {# forloop.counter : 현재까지의 loop를 실행한 반복 횟수 : 1부터 시작 #}
    <label for="cho{{forloop.counter}}">{{cho.choice_text}}</label>
    {% endfor %}
    <br/><br/>
    <input type="submit" value="투표 확인">
</form>
</body>
</html>