<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
📝투표할 질문 항목 선택📝<p/>
{% if q_list %}
    <ul>
        {% for q in q_list %}
            {# url 요청 직접 기술방법1(정적, 하드코딩) #}
            <li><a href="/go/{{q.id}}">{{q.question_text}}</a></li>
            <br/>
            {# url 요청 직접 기술방법2(동적, 소프트코딩) #}
            <li><a href="{% url 'detail' q.id %}">{{q.question_text}}</a></li>
            <hr/>
        {% endfor %}
    </ul>
{% else %}
    <div>질문 항목이 없어요</div>
{% endif %}
</body>
</html>