<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table border="1">
	<tr>
		<th>번호</th><th>상품명</th><th>가격</th>
	</tr>
	{% if products %}
		{% for pro in products %} <!-- 앞에 번호달아줄수 있음--> 
	<tr>
		<td>{{forloop.revcounter}}</td>
		<td>{{pro.name}}</td>
		<td>{{pro.price}}</td>
	</tr>
		{% endfor %}
	{% else %}
	<tr><td colspan="3">자료 없음</td></tr>
	{% endif %}
</table>
<br/>
<a href="/buy">결제하기</a><br/>
<a href="/">메인 페이지</a><br/>

</body>
</html>