<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script>
		function func(arg) {
			//alert(arg);
			let result = confirm("정말 삭제할까요?");
			if (result) {
				document.getElementById(arg).submit();
			}
		}
	</script>
</head>

<body>
	상품 정보(페이징 있는 경우) 
	<p />
	<div style="width: 80%; text-align:right;">
		<a href="/sangpum/insert">상품 추가</a>
	</div>
	<br>
	<table border="1" style="width: 80%;">
		<tr>
			<th>코드</th>
			<th>상품명</th>
			<th>수량</th>
			<th>단가</th>
			<th>기타</th>
		</tr>
		{% if datas %}
		{% for s in datas %}
		<tr>
			<!--
		<td>{{s.0}}</td>
		<td>{{s.1}}</td>
		<td>{{s.2}}</td>
		<td>{{s.3}}</td>
		
		데이터 타입이 tuple일때 이렇게 사용
		-->
			<td>{{s.code}}</td>
			<td>{{s.sang}}</td>
			<td>{{s.su}}</td>
			<td>{{s.dan}}</td>
			<td>
				<a href="/sangpum/update?code={{s.code}}">수정</a>/
				<!--
			<a href="/sangpum/delete?code={{s.code}}">삭제</a>
			-->
				<form action="/sangpum/delete" name="frm" method="get" id="{{s.code}}" style="display: inline">
					<!--				id = "{{s.code}}"-->
					<input type="hidden" name="code" value="{{s.code}}">
					<a href="javascript:void(0); onclick=func({{s.code}})">삭제</a>
				</form>
			</td>

		</tr>
		{% endfor %}
		<!-- 페이징 - 장고 홈페이지로 가서 확인하기-->
		<tr>
			<td colspan="5">
				{% if datas.paginator.num_pages > 1 %}
				<div>
					{% if datas.has_previous %}
					<a href="/sangpum/list?page={{datas.previous_page_number}}">&laquo;이전</a>
					{% endif %}
					{% if datas.has_next %}
					<a href="/sangpum/list?page={{datas.next_page_number}}">다음&raquo;</a>
					{% endif %}
					&nbsp;&nbsp;
					(페이지:{{datas.number}}/{{datas.paginator.num_pages}})
				</div>
				{% endif %}
				<hr />
				{% for p in allpage %}
				{% if p > 0 %}
				{% if p == datas.number %}
				[{{p}}]
				{% else %}
				<a href="/sangpum/list?page={{p}}">{{p}}</a>
				{% endif %}
				{% endif %}
				{% endfor %}
			</td>
		</tr>

		{% else %}
		<tr>
			<td colspan="4">자료없음</td>
		</tr>
		{% endif %}
	</table>
</body>

</html>