<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script>
	window.onload=function(){
		document.querySelector("#btnDel").onclick=delFunc;
		document.querySelector("#btnCancel").onclick=cancelFunc;
	}
	
	function delFunc(){
		if(document.querySelector("#del_passwd").value===""){
			document.querySelector("#del_passwd").placeholder="비밀번호 입력";
		}else{
			let result=confirm("정말 삭제할까요?");
			if(result){
				document.querySelector("form").submit();
			}
		}
	}
	function cancelFunc(){
		alert("b")
	}
</script>
</head>
<body style="margin:20px;">
<h3>게시글 삭제</h3>
<form action="/board/delete" method="post">{% csrf_token %}
	<input type="hidden" name="id" value="{{data.id}}"/>
	<table style="width:95%;" class="table">
		<tr><th colspan="2">삭제하려면 비밀번호를 입력하시오</th></tr>
		<tr>
			<td>비밀번호</td>
			<td><input type="text" name="del_passwd" id="del_passwd"></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="button" value="삭제" id="btnDel">&nbsp;
				<input type="button" value="취소" id="btnCancel">&nbsp;
			</td>
		</tr>
	</table>
</form>
</body>
</html>