<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script>
		$(document).ready(function () {
			$("#btnOk").click(function () {
				let name = $("#txtName").val();
				$("#showData").empty();

				$.ajax({
					url: 'list',
					type: 'get',
					data: {'name': name},
					success: function (data) {
						//alert(data);
						if(data == ''){
							$("#showData").append("해당 자료가 없습니다.")
						}else{
							let str = "<table border='1'>";
							let count=0;
							str+="<tr><th>직원번호</th><th>직원명</th><th>부서명</th></tr>";
							$.each(data,function(ind,entry){
								str+="<tr>";
								str+="<td>"+entry['jikwon_no']+"</td>";
								str+="<td>"+entry['jikwon_name']+"</td>";
								str+="<td>"+entry['buser_name']+"</td>";
								str+="<tr>";
								count+=1;
							});
							str+="</table>";
							$("#showData").append(str);
							$("#showData").append("건수 : "+count);
						}
					}, error: function () {
						$("#showData").text("에러");
					}
				});
			});
		});
	</script>
</head>

<body>
	ajax 연습문제1<br>
	직원정보 입력 - 직급 :
	<input type="text" name="name" id="txtName">
	<input type="button" id="btnOk" value="결과 보기">
	<br />
	<div id="showData"></div>
</body>

</html>