<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<!-- guest의 select요청을 통해 들어온 페이지-->
	** 글 목록 **
	<p />
	<a href="/family/insert">자료 추가</a>
	<!-- guest의 insert요청을 통해 넘어가야함-->
	<table border="1">
		<tr>
			<th>번 호</th>
			<th>이 름</th>
			<th>나 이</th>
			<th>전 화</th>
			<th>성 별</th>
		</tr>
		{% if fdatas %}
		{% for f in fdatas %}
		<tr>
			<td>{{f.id}}</td>
			<td>{{f.name}}</td>
			<td>{{ f.age }}</td>
			<td>{{f.tel}}</td>
			<td>{{f.gen}}</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="5">
				인원수 : {{total}}명
			</td>
		</tr>
		<tr>
			<td colspan="5">
				나이평균 : {{avg_age}}
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan='5'>자료 없음</td>
		</tr>
		{% endif %}

	</table>

</body>

</html>