<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <script>
        let xhr;

        window.onload = function () {
            document.querySelector("#btn1").addEventListener("click", () => {
                xhr = new XMLHttpRequest();

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            process1();
                        }
                    }
                };
                url = "calldb1"
                xhr.open("GET", url, true)  // 비동기 방식이기때문에 true
                xhr.send();
            });

            function process1() {
                // alert(xhr.responseText);
                let parseData = JSON.parse(xhr.responseText)    // dict 객체를 string으로 바꿔서 클라이언트로 넘기고 서버가 넘긴 데이터는 문자열이기 때문에 자바스크립트에서 자바스크립트 객체로 바꿈
                // alert(parseData);

                let str = "<table border='1'><tr><th>code</th><th>sang</th><th>su</th><th>dan</th></tr>";
                let count = 0;
                for (let i = 0; i < parseData.length; i++) {
                    str += "<tr>";
                    str += "<td>" + parseData[i].code + "</td>";
                    str += "<td>" + parseData[i].sang + "</td>";
                    str += "<td>" + parseData[i].su + "</td>";
                    str += "<td>" + parseData[i].dan + "</td>";
                    str += "<tr>";
                    count += 1;
                }
                str += "</table>";
                str += "<br>건수 : " + count;
                document.querySelector("#show1").innerHTML = str;
            }

            document.querySelector("#btn2").onclick = function () {
                const url = "calldb2";
                fetch(url).then(res => {
                    if (res.status === 200) {
                        return res.json();
                    } else {
                        console.error(`httpe err status : ${res.status}`)
                    }
                })
                    .then(jsonData => {
                        process2(jsonData)
                    })
                    .catch(err => {
                        console.log(err)
                    });
            }

            function process2(jsonData) {
                let str = "<table border='1'><tr><th>code</th><th>sang</th><th>su</th><th>dan</th></tr>";
                let count = 0;
                for (let i = 0; i < jsonData.length; i++) {
                    str += "<tr>";
                    str += "<td>" + jsonData[i].code + "</td>";
                    str += "<td>" + jsonData[i].sang + "</td>";
                    str += "<td>" + jsonData[i].su + "</td>";
                    str += "<td>" + jsonData[i].dan + "</td>";
                    str += "<tr>";
                    count += 1;
                }
                str += "</table>";
                str += "<br>건수 : " + count;
                document.querySelector("#show2").innerHTML = str;
            }
        }
     </script>
</head>
<body>
👌Ajax로 상품 정보 얻기👌
<br/><br/>
<button id="btn1">실습1(전통적)</button>
<br/>
<div id="show1"></div>
<hr/>
<button id="btn2">실습2(fetch)</button>
<br/>
<div id="show2"></div>
</body>
</html>